body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    align-items: center;
}

.banner {
    background-color: #7878ac;
    color: #fefdff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner a {
    color: #fefdff;
    padding-bottom: 15px;
}